.textAndFindContainer {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 1.4rem 1.7rem;
  position: relative;
  & .imitateBigInput {
    height: 38px;
    border-radius: 25px;
    border: 1px solid #eaeaea;
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    & .textButton {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 20px;
      height: 37.9px;
      width: 60px;
    }
    & .moveText {
      position: relative;
      right: 0.5rem;
    }
    & .arrowDown {
      position: absolute;
      top: 0.88rem;
      left: 2.7rem;
      height: 9px;
    }
    & .arrowUp {
      position: absolute;
      top: 0.88rem;
      left: 2.7rem;
      height: 9px;
    }
  }
  & .greenBorder {
    border: 1px solid #7ed957;
  }
  & .filterModal {
    position: absolute;
    top: 3rem;
    & button {
      margin-top: 0.5rem;
      border-radius: 25px;
      height: 40px;
      width: 60px;
      background-color: #7ed957;
      color: white;
      font-weight: 700;
    }
  }
  & input {
    height: 36px;
    width: 67%;
    border-bottom: 1px solid #eaeaea;
    border: none;
    position: relative;
    padding: 0 1rem;
  }
  & .xIcon {
    position: absolute;
    color: #9d9d9d;
    font-size: 1.15rem;
    top: 25%;
    right: 1rem;
  }
  & .heddingAndButtons {
    & h2 {
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
    }
    & .buttonsContainer {
      border: 1px solid #eaeaea;
      display: inline-flex;
      border-radius: 10px;
      margin-bottom: 1.5rem;
      & button {
        margin-right: 0.5rem;
        padding: 0.2rem 0.4rem;
        border-radius: 10px;
      }
      & .lastButton {
        margin-right: 0rem;
      }
      & .buttonGreen {
        box-shadow: 0 0 0 1px #99ba14, inset 0 0 0 1px #99ba14;
      }
    }
    & .textFilterResult {
      & .borderForText {
        border: 1px solid #99ba14;
        padding: 0.3rem 0.7rem;
        border-radius: 50px;
        font-size: 0.85rem;
      }
    }
  }
}
.xIcon:hover {
  opacity: 0.7;
}
.objectsCardsContainer {
  background-color: #f2f2f2;
}
.NoObjectsFound {
  background-color: #f2f2f2;
  text-align: center;
  padding: 2rem 0;
}

@media only screen and (max-width: 355px) {
  .textAndFindContainer {
    padding-left: 0.5rem;
  }
}
@media only screen and (max-width: 340px) {
  .textAndFindContainer {
    & .heddingAndButtons {
      & .buttonsContainer {
        & button {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .buttonsAndFilterResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .textAndFindContainer {
    padding: 0.7rem 3rem 1.7rem;
    & .heddingAndButtons {
      & h2 {
        font-size: 1.5rem;
      }
      & .textFilterResult {
        & .borderForText {
          padding: 0.4rem 0.7rem;
        }
      }
      & .buttonsContainer {
        margin-bottom: 0;
        & button {
          padding: 0.3rem 0.7rem;
        }
      }
    }
  }
}
