.textAndFindContainer {
  display: flex;
  flex-direction: column;
  padding: 0.7rem 1.4rem 1.7rem;
  position: relative;
  & .imitateBigInput {
    height: 38px;
    border-radius: 25px;
    border: 1px solid #eaeaea;
    position: relative;
    margin-bottom: 1.5rem;
    display: flex;
    align-items: center;
    & .textButton {
      border-top-left-radius: 15px;
      border-bottom-left-radius: 20px;
      height: 37.9px;
      width: 60px;
    }
    & .moveText {
      position: relative;
      right: 0.5rem;
    }
    & .arrowDown {
      position: absolute;
      top: 0.88rem;
      left: 2.7rem;
      height: 9px;
    }
    & .arrowUp {
      position: absolute;
      top: 0.88rem;
      left: 2.7rem;
      height: 9px;
    }
  }
  & .greenBorder {
    border: 1px solid #7ed957;
  }
  & .filterModal {
    position: absolute;
    top: 3rem;
    & button {
      margin-top: 0.5rem;
      border-radius: 25px;
      height: 40px;
      width: 60px;
      background-color: #7ed957;
      color: white;
      font-weight: 700;
    }
  }
  & input {
    height: 36px;
    width: 67%;
    border-bottom: 1px solid #eaeaea;
    border: none;
    position: relative;
    padding: 0 1rem;
  }
  & .xIcon {
    position: absolute;
    color: #9d9d9d;
    font-size: 1.15rem;
    top: 25%;
    right: 1rem;
  }
  & .heddingAndButtons {
    & h2 {
      margin-bottom: 1.5rem;
      font-size: 1.2rem;
    }
    & .buttonsContainer {
      border: 1px solid #eaeaea;
      display: inline-flex;
      border-radius: 10px;
      margin-bottom: 1.5rem;
      & button {
        margin-right: 0.5rem;
        padding: 0.2rem 0.4rem;
        border-radius: 10px;
      }
      & .lastButton {
        margin-right: 0rem;
      }
      & .buttonGreen {
        box-shadow: 0 0 0 1px #99ba14, inset 0 0 0 1px #99ba14;
      }
    }
    & .textFilterResult {
      & .borderForText {
        border: 1px solid #99ba14;
        padding: 0.3rem 0.7rem;
        border-radius: 50px;
        font-size: 0.85rem;
      }
    }
  }
}
.xIcon:hover {
  opacity: 0.7;
}
.objectsCardsContainer {
  background-color: #f2f2f2;
}
.NoObjectsFound {
  background-color: #f2f2f2;
  text-align: center;
  padding: 2rem 0;
  padding-bottom: 55vh;
  padding-top: 3rem;
}

@media only screen and (max-width: 355px) {
  .textAndFindContainer {
    padding-left: 0.5rem;
  }
}
@media only screen and (max-width: 340px) {
  .textAndFindContainer {
    & input {
      &::placeholder {
        font-size: 0.8rem;
      }
    }
    & .heddingAndButtons {
      & .buttonsContainer {
        & button {
          font-size: 12px;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  .buttonsAndFilterResult {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .textAndFindContainer {
    padding: 0.7rem 3rem 1.7rem;
    & .imitateBigInput {
      margin: 0 auto 1.5rem;
      width: 672px;
      gap: 9rem;
      & .textButton {
        border-top-left-radius: 15px;
        border-bottom-left-radius: 20px;
        height: 37.9px;
        width: 60px;
        font-size: 0.9rem;
      }
      & .moveText {
        right: 0rem;
      }
      & .arrowDown {
        left: 3.5rem;
      }
      & .arrowUp {
        left: 3.5rem;
      }
    }
    & .filterModal {
      font-size: 0.9rem;
      & button {
        font-size: 1rem;
      }
    }
    & input {
      padding: 0 1rem 0 4rem;
      font-size: 0.9rem;
    }
    & .heddingAndButtons {
      & h2 {
        font-size: 1.5rem;
      }
      & .textFilterResult {
        & .borderForText {
          padding: 0.4rem 0.7rem;
          font-size: 1rem;
        }
      }
      & .buttonsContainer {
        margin-bottom: 0;
        & button {
          padding: 0.3rem 0.7rem;
          font-size: 0.9rem;
        }
      }
    }
    & .filterModal {
      left: 0;
      right: 37rem;
      margin: 0 auto;
      width: 70px;
      & button {
        height: 40px;
        width: 70px;
        background-color: #7ed957;
        color: white;
        font-weight: 700;
      }
    }
  }
  .NoObjectsFound {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .textAndFindContainer {
    padding: 0.7rem 4.7rem 1.7rem 3rem;
    & .filterModal {
      right: 39rem;
    }
  }
  .NoObjectsFound {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 1400px) {
  .textAndFindContainer {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0.7rem 6.3rem 1.7rem 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .textAndFindContainer {
    & .imitateBigInput {
      height: 48px;
      & .moveText {
        right: 0rem;
        bottom: 0.1rem;
        font-size: 1.1rem;
      }
      & .arrowDown {
        top: 1rem;
        left: 3.5rem;
        height: 13px;
        width: 20px;
      }
      & .arrowUp {
        top: 1rem;
        left: 3.5rem;
        height: 13px;
        width: 20px;
      }
    }
    & .heddingAndButtons {
      & h2 {
        font-size: 2rem;
      }
      & .buttonsContainer {
        & button {
          font-size: 1.1rem;
        }
      }
      & .textFilterResult {
        & .borderForText {
          font-size: 1.1rem;
        }
      }
    }
    & input {
      font-size: 1.1rem;
      height: 46px;
      padding: 0 2rem 0 2.2rem;
    }
    & .xIcon {
      font-size: 1.35rem;
      top: 25%;
      right: 1.3rem;
    }
    & .filterModal {
      right: 40.5rem;
      top: 3.7rem;
      & button {
        width: 80px;
      }
    }
  }
  .NoObjectsFound {
    font-size: 1.5rem;
    line-height: 1.7;
  }
}
