.cardComponent {
  width: 90%;
  margin: 0 auto 1rem;
  display: flex;
  padding: 1.7rem 1.5rem 1.3rem;
  border: 2px solid #eef0f2;
  border-radius: 16px;
  gap: 1rem;
  text-decoration: none;
  color: inherit;

  & h2 {
    font-size: 1.17rem;
    font-weight: 500;
    margin-bottom: 0.7rem;
    text-align: start;
    color: #7ed957;
  }
  & p {
    font-size: 1rem;
    text-align: start;
  }

  & span {
    border-bottom: 1px solid #7ed957;
  }
}

@media only screen and (max-width: 359px) {
  .cardComponent {
    & p {
      font-size: 0.9rem;
    }
  }
}

@media only screen and (min-width: 768px) {
  .cardComponent {
    margin: 0;
  }
}
