.navMobile {
  min-height: 55px;
  padding: 0.5rem 1rem 0 0.5rem;
}

.ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  & button {
    width: 44px;
    height: 44px;
  }

  & .hoverClass {
    background-color: #7ed957;
    border-radius: 50px;
  }
}

.nestedUl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  & .findButton:active {
    background-color: #7ed957;
    border-radius: 50px;
  }
  & .findButton:hover {
    background-color: #7ed957;
    border-radius: 50px;
  }
}
.logoHeaderMobile {
  position: relative;
  right: 9%;
}

.navDesktop {
  display: none;
  & a {
    text-decoration: none;
  }
  & .hoverClass {
    background-color: #7ed957;
    border-radius: 50px;
  }
}
.phoneSvg {
  height: 22px;
  width: 22px;
}
.findSvg {
  height: 22px;
  width: 22px;
}
.findSvgMobile {
  height: 18px;
  width: 18px;
}
.phoneSvgMobile {
  height: 18px;
  width: 18px;
}

@media only screen and (min-width: 768px) {
  .navMobile {
    display: none;
  }
  .navDesktop {
    display: block;
    padding: 0.5rem 1rem;
  }
}

.navDesktopUpperUl {
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
}

.navDesktopFirstInnerUl {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.hr {
  height: 3.4rem;
  background-color: #ebebeb;
  margin-right: 0.7rem;
}

.lastUpperDesktopLi {
  display: flex;
  align-items: center;
}

.lastInnerUlDesktopLi {
  display: flex;
  align-items: center;
  gap: 3rem;
}

.objectsButton {
  border: 1px solid #d7d7d7;
  padding: 0.4rem 0.8rem;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: 500;
  color: #393939;
  &:hover {
    background-color: #7ed957;
    color: white;
  }
  &:active {
    background-color: #7ed957;
    color: white;
  }
}

.burgerTriangle {
  &::before {
    content: '';
    top: 3.65rem;
    left: 1.2rem;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    z-index: 5;
  }
}
.phoneTriangle {
  &::before {
    content: '';
    top: 3.65rem;
    right: 1.77rem;
    position: absolute;
    border-width: 10px;
    border-style: solid;
    border-color: transparent transparent rgb(255, 255, 255);
    z-index: 5;
  }
}

.findText {
  display: none;
}

.objectsButtonClicked {
  background-color: #7ed957;
  color: white;
}

.desktopIconButon {
  width: 40px;
  height: 40px;
}

.hrBetweenIcons {
  display: none;
}

.desktopIconButon:hover {
  background-color: #7ed957;
  color: white;
  border-radius: 50px;
}

@media only screen and (min-width: 1024px) {
  .navDesktop {
    display: block;
    padding: 2rem 2rem 2rem 2.15rem;
  }
  .logoHeaderDesktop {
    width: 120px;
    height: 70px;
  }
  .hrBetweenIcons {
    display: block;
    height: 3.4rem;
    background-color: #ebebeb;
  }
  .navDesktopUpperUl {
    padding-left: 0.8rem;
  }
}

@media only screen and (min-width: 1440px) {
  .desktopIconButon {
    width: 55px;
    height: 55px;
  }
  .phoneSvg {
    height: 28px;
    width: 28px;
  }
  .findSvg {
    height: 28px;
    width: 28px;
  }
  .navDesktop {
    display: block;
    padding: 2rem 3rem 2rem 2.55rem;
    max-width: 1440px;
    margin: 0 auto;
  }
  .navDesktopUpperUl {
    padding-left: 0.4rem;
  }

  .objectsButton {
    font-size: 1.2rem;
  }

  .lastInnerUlDesktopLi li:last-child button {
    min-width: 20rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
    & p {
      font-size: 1.2rem;
    }
  }
  .findText {
    display: inline-block;
    font-size: 1rem;
  }
}

@media only screen and (max-width: 320px) {
  .nestedUl {
    display: none;
  }
  .ul {
    justify-content: center;
  }
  .ul li:last-child{
    display: none;
  }
  .logoHeaderMobile {
    position: relative;
    right: 0;
  }
}