.navMobile {
  min-height: 55px;
  padding: 0.5rem  1rem 0 0.5rem;
}

.ul {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;

  & button {
    width: 44px;
    height: 44px;
  }

  & button:hover {
    background-color: #7ed957;
    border-radius: 50px;
  }
}

.nestedUl {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navDesktop{
  display: none;
}

@media only screen and (min-width: 768px) {
  .navMobile {
    display: none;
  }
  .navDesktop{
    display: block;
    padding: 1rem;
  }
}