.wholeCard {
  width: 93.7%;
  margin: 0 auto;
  padding: 1.5rem 0 1rem;
  max-width: 470px;
  & .imgContainer {
    width: 100%;
    position: relative;
    height: 260px;
    overflow: "hidden";
    border-top-right-radius: 5px;
  }
  & .everythingWithoutImage {
    padding: 1.3rem 1rem 1rem;
    background-color: white;
    & .priceContainer {
      border: 1px solid #eaeaea;
      border-radius: 4px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.06);
      max-width: 170px;
      padding: 0.5rem;
      margin-bottom: 1rem;
      & h3 {
        font-size: 0.9rem;
        margin: 0.4rem 0 0.8rem;
        font-weight: 500;
      }
      & p {
        font-size: 0.8rem;
      }
      & .priceSplited {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
      }
      & .price {
        font-weight: 900;
        font-size: 1.2rem;
      }
    }
    & button {
      font-weight: 700;
      font-size: 0.9rem;
      cursor: pointer;
      width: 100%;
      padding: 0.7rem 1rem;
      background-color: #7ed957;
      border-radius: 50px;
      color: white;
    }
  }
  & .descriptionContainer {
    & .descriptionHeaderIcons {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    & h2 {
      font-size: 1.1rem;
      margin-bottom: 1rem;
    }
    & p {
      font-size: 0.8rem;
      margin: 0 0 1rem;
      line-height: 1.7;
    }
  }
}
