.wholeCard {
  width: 93.7%;
  margin: 0 auto;
  & .imgContainer {
    width: 100%;
    position: relative;
    height: 260px;
    overflow: 'hidden';
  }
  & .descriptionContainer {
    & .descriptionHeaderIcons {
      display: flex;
      align-items: center;
      gap: 1.5rem;
    }
    & h2 {
      font-size: 1.1rem;
    }
  }
}
