.foot {
  background-color: #393939;
  color: white;
  padding: 1.5rem;
  min-height: 30vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }
  & a {
    color: white;
  }
}
