.foot {
  background-color: #393939;
  padding: 1.5rem;
  min-height: 20vh;
  display: grid;
}

.footContainer {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  & h2 {
    font-size: 1.3rem;
    margin-bottom: 0.7rem;
  }
  & p {
    color: #7ed957;
  }
  & a {
    color: #7ed957;
  }
}
