.main {
  padding-bottom: 5rem;

  & a {
    text-decoration: none;
  }
  & .mainPhotoContainer {
    max-width: 1440px;
    margin: 0 auto;
  }
  & .mainCardsContainer {
    max-width: 1440px;
    margin: 0 auto;
  }
  & .svgContainer {
    margin: auto 0;
  }
  & .boxSvg {
    height: 40px;
    width: 40px;
  }
  & .wareHouseSvg {
    height: 40px;
    width: 40px;
  }
  & .officeSvg {
    height: 40px;
    width: 40px;
  }
  & .fridgeSvg {
    height: 40px;
    width: 40px;
  }
}

@media only screen and (min-width: 768px) {
  .mainCardsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
  .firstItem {
    margin-bottom: 2rem;
  }
  .secondItem {
    margin-bottom: 2rem;
  }
}

@media only screen and (min-width: 1024px) {
  .firstItem {
    margin-bottom: 3rem;
  }
  .secondItem {
    margin-bottom: 3rem;
  }
}

@media only screen and (min-width: 1440px) {
  .mainCardsContainer {
    & h2 {
      font-size: 1.6rem;
    }
    & p {
      font-size: 1.2rem;
    }
  }
}