.cardMain {
  width: 90%;
  margin: -7rem auto 5rem;
  position: relative;
}

.lightPart {
  padding: 1.5rem 0;
  background: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 1px solid rgb(239, 238, 233);
  position: relative;
  z-index: 1;

  & .visible {
    line-height: 2;
    padding-top: 0;
    display: flex;
    justify-content: space-between;

    & .vectorText {
      display: flex;
      gap: 0.625rem;
      font-size: 1rem;
      align-items: center;
    }
    & .vectorTextDesktop {
      display: none;
    }

    & .arrowsButton {
      width: calc(100% - 166px);
      height: "36px";
    }
  }

  & .hidden {
    border-bottom-right-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: absolute;
    width: 100%;
    background: white;
    box-shadow: 0px 5px 5px rgb(207, 207, 207);

    & .lastH2 {
      padding-bottom: 1.5rem;
    }
  }

  & h2 {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 1rem;
    padding: 1.5rem 0 0 1.5rem;
  }
}

.darkPart {
  padding: 1.5rem 1rem;
  background: rgb(244, 243, 240);
  border-bottom-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  position: relative;
  box-shadow: 0px 5px 50px rgb(207, 207, 207);

  & label {
    position: relative;
    display: inline-block;
    width: 100%;
    z-index: 0;
  }

  & span {
    padding: 10px;
    pointer-events: none;
    position: absolute;
    left: 0;
    top: 10px;
    transition: 0.2s;
    transition-timing-function: ease;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity: 0.5;
  }

  & input {
    outline: none;
    width: 100%;
    padding: 1.8rem 0.8rem 0.7rem;
    border-radius: 8px;
    border: 1px solid rgb(217, 219, 221);
  }

  & input:focus + span,
  input:not(:placeholder-shown) + span {
    opacity: 1;
    transform: scale(0.75) translateY(-45%) translateX(-10px);
  }

  & input:focus + span,
  input:not(:-ms-input-placeholder) + span {
    opacity: 1;
    transform: scale(0.75) translateY(-100%) translateX(-30px);
  }

  & .hiddenLoopButton {
    position: absolute;
    width: 30px;
    height: 30px;
    right: 1.9rem;
    bottom: 2.2rem;
    background-color: transparent;
  }
  & .desktopButton {
    display: none;
  }
}

@media only screen and (max-width: 381px) {
  .lightPart {
    padding: 1.5rem 0.2rem;
    & h2 {
      padding: 1.5rem 0 0 0.5rem;
    }
  }
}

@media only screen and (min-width: 768px) {
    .cardMain {
        max-width: 672px;
        top: 1.4rem;
    }
  .lightPart {
      padding: 1.5rem 2.7rem 1.3rem;
    & h2 {
        padding:0;
      }
    & button {
      display: none;
    }

    & .visible {
      justify-content: space-between;
      align-items: center;

      .vectorText {
        padding-bottom: 1rem;
        border-bottom: 2px solid #ffffff;
      }

      .vectorText:active {
        border-bottom: 2px solid #7ed957;
      }

      & .vectorTextDesktop {
        display: flex;
      }
    }
  }
  .darkPart {
    display: flex;
    padding: 1.5rem 2rem;
    gap: 1rem;

    & label {
        display: inline-block;
        width: auto;
        flex: 0 73%
      }
    & .desktopButton {
        display: inline-block;
        flex: 0 27%;
        color: white;
        background-color: #7ed957;
        border-radius: 8px;
        font-size: 1rem;
        font-weight: 700;
      }
  }
}

@media only screen and (min-width: 1024px) {
    .cardMain {
        max-width: 776px;
        top:0.7rem;
    }
    .lightPart {
        padding: 2rem 5rem 1.5rem;
    }
}

@media only screen and (min-width: 1440px) {
    .cardMain {
        max-width: 862px;
    }
    .lightPart {
        padding: 2rem 8rem 1.5rem;
    }
}