@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  outline: none;
}

html {
  /* overflow-y: scroll; */
}

body {
  min-width: 320px;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

ul {
  list-style: none;
}

a {
  color: inherit;
}

button {
  border: none;
  background-color: inherit;
  font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
