.section {
  min-height: 425px;
  display: grid;
  text-align: center;
  background-size: cover;
  background-position: center;
}

.h1 {
  margin: auto;
  color: white;
  line-height: 1.7;
  max-width: 20rem;
  font-size: 2rem;
}

.green {
  color: #7ed957;
  font-size: 3rem;
  line-height: 0.1;
}

@media only screen and (min-width: 768px) {
  .h1 {
    max-width: initial;
    font-size: 3rem;
  }
}

@media only screen and (min-width: 1024px) {
  .section {
    margin: 0 2.5rem;
  }
}

@media only screen and (min-width: 1440px) {
  .section {
    margin: 0 2.5rem;
  }
}
.of {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/mainMobileOffice.webp');
}

.wa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../../../../images/mainPhoto/wareHouseMobile.webp');
}

.fr {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../../../../images/mainPhoto/fridgeMobile.webp');
}

.bo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/boxMobile.webp');
}

@media only screen and (min-width:768px) {
.of {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/mainTabletOffice.webp');
}
.wa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/wareHouseTablet.webp');
}
.fr {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../../../images/mainPhoto/fridgeTablet.webp');
}
.bo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/boxTablet.webp');
}
}
@media only screen and (min-width:1024px) {
.of {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/mainDesktopOffice.webp');
}
.wa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/wareHouseDesktop.webp');
}
.fr {
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url('../../../../images/mainPhoto/fridgeDesktop.webp');
}
.bo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/boxDesktop.webp');
}
}
@media only screen and (min-width:1440px) {
.of {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/mainLargeScreenOffice.webp');
}
.wa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/wareHouseLargeScreen.webp');
}
.fr {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
      url('../../../../images/mainPhoto/fridgeLargeScreen.webp');
}
.bo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)),
      url('../../../../images/mainPhoto/boxLargeScreen.webp');
}
}